*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


  
  html {
    font-size: 62.5%;
  }
  
  body {
    padding-top: 20px;
    font-family: system-ui;
    color: #555;
    background-color: #f7f7f7;
  }

  .notice{
    font-size: 1.6rem;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .form{
    margin: 0 auto;
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
    width: 35%;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
    align-items: center;
    overflow: hidden;
  }
  .form input{
    display: inline-block;
    width: 60%;
    border: none;
    outline: none;
    background-color: inherit;
    padding-left: 1rem;
    font-size: 1.7rem;
  }
  .form button{
    border: inherit;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: green;
    color: #fff;
    width: 40%;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
  }
  .form input::placeholder{
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 700;
  }

  .country {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
    width: 30rem;
    margin: 0 auto;
    border-radius: 0.7rem;
  }
  
  .country__img {
    width: 30rem;
    height: 17rem;
    object-fit: cover;
    background-color: #eee;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
  }
  
  .country__data {
    padding: 2.5rem 3.75rem 3rem 3.75rem;
  }
  
  .country__name {
    font-size: 2.7rem;
    margin-bottom: 0.7rem;
  }
  
  .country__region {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    color: #888;
  }
  
  .country__row:not(:last-child) {
    margin-bottom: 1rem;
  }
  
  .country__row span {
    display: inline-block;
    margin-right: 2rem;
    font-size: 2.4rem;
  }
  
  .error-message{
    font-size: 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
  }
  .coatOfArm{
    width: 30px;
    aspect-ratio: 1;
    vertical-align:bottom;
  }

@media screen and (max-width: 876px) {
    .form{
        width: 50%;
    }
   
}
@media screen and (max-width: 487px) {
    .form{
        width: 90%;
    }
   
}